<div class='section no-pad-bot' id='curtain'>
  <div class='container'>
    <h1 class='header center grey-text'>Nothing to see here!!</h1>
    <div class='row center'>
      <h5 class='header col s12 light'></h5>
    </div>
    <div class='row center'>
      <%= link_to 'Home', root_path, class: 'btn-large waves-effect waves-light black grey-text' %>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/webview_login.js"></script>
