<div class='container'>
  <div class='section'>
    <div class='row'>
      <h1 class="header center orange-text"><%= t('.title') %></h1>
      <%= render 'form', profile: @community_member_profile %>
    </div>
    <%= link_to t('.cta.back'), community_member_profile_path(@community_member_profile), id: 'member_profile_back_btn' %>
  </div>
</div>
