<div class='section no-pad-bot' id='landing'>
  <div class='container'>
    <div class='row'>
      <h1 class='header center orange-text'><%= t('.header') %></h1>
      <h5 class='header col s12 light'><%= t('.subheader_html') %></h5>
    </div>
    <div class='row center'>
      <button class = 'loginBtn loginBtn--facebook'>
        <%= link_to t('.sign_in'), '/auth/facebook' %>
      </button>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/webview_login.js"></script>
