@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("orange", "base") !default;
@import 'materialize';

#landing, #curtain{
  background-size:cover;
  background-position:center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#landing {
  background-image:url('/img/cover.png');
}

#curtain {
  background-image:url('/img/curtain.png');
}

span.lever {
  float: right;
}

.switch {
  padding: 10px 0px;
}

.switch label {
  color: #000;
  font-size: 17px
}
