<p id="notice"><%= notice %></p>

<h1>Communities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @fb_communities.each do |community| %>
      <% if @subscribed_communities.include?(community['id']) %>
        <%= render 'subscribed_community', community: community %>
      <% else %>
        <%= render 'unsubscribed_community', community: community %>
      <% end %>
    <% end %>
  </tbody>
</table>
